@font-face {
    font-family: 'Solomon-Sans-Light';
    src: url('fonts/Solomon-Sans-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/Solomon-Sans-Light.otf')  format('opentype'),
    url('fonts/Solomon-Sans-Light.woff') format('woff'), url('fonts/Solomon-Sans-Light.ttf')  format('truetype'), url('fonts/Solomon-Sans-Light.svg#Solomon-Sans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl-300';
    src: url('fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),  url('fonts/MuseoSansCyrl-300.woff') format('woff'), url('fonts/MuseoSansCyrl-300.ttf')  format('truetype'), url('fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl-500';
    src: url('fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'), url('fonts/MuseoSansCyrl-500.otf') format('opentype'),
    url('fonts/MuseoSansCyrl-500.woff') format('woff'), url('fonts/MuseoSansCyrl-500.ttf') format('truetype'), url('fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    width: 1202px;
    font-family: 'MuseoSansCyrl-500';
    margin: 0 auto;
}

.header {
    width: 1202px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
    box-sizing: border-box;
}

.header__logo {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.1);
}

.logo {
    display: block;
    position: absolute;
    width: 52px;
    height: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu__item {
    opacity: 0.5;
    font-size: 18px;
    font-family: 'MuseoSansCyrl-300';
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
    color: black;
    box-sizing: border-box;
    vertical-align: middle;
    text-decoration: none;
}

.menu__item:not(:last-child) {
    margin-right: 44px;
}

.menu__item:last-child {
    margin-right: 24px;
}

.menu__item:hover {
    color: orange;
}

.menu__hamburger {
    position: relative;
    width: 38px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    cursor: pointer;
}

.menu__hamburger div {
    position: absolute;
    height: 2px;
    width: 38px;
    background-color: #180178;
    opacity: 0.5;
    transition: all 0.2s ease
}

.menu__hamburger div:nth-child(1) {
    top: 0;
    transform-origin: center top;
}

.menu__hamburger div:nth-child(2) {
    top: 13px;
}

.menu__hamburger div:nth-child(3) {
    bottom: 0;
    transform-origin: center bottom;
}

.menu__hamburger.expanded div:nth-child(1) {
    transform: rotate(45deg) translateY(-50%);
    top: 50%;
}

.menu__hamburger.expanded div:nth-child(2) {
    display: none;
}

.menu__hamburger.expanded div:nth-child(3) {
    transform: rotate(-45deg) translateY(-50%);
    top: 50%;
    bottom: auto;
}

.container {
    box-sizing: border-box;
    padding: 90px 114px 104px;
    background-color: #180178;
}

.title {
    font-size: 60px;
    text-align: left;
    color: white;
    font-family: 'Solomon-Sans-Light';

}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 89px;
}

.list__item:last-child {
    margin-top: 52px;
}

.list__content {
    width: 290px;
    height: 160px;
    background-color: white;
    padding: 23px 20px 32px 25px;
    box-sizing: border-box;

}

.list__title {
    font-size: 20px;
    text-align: left;
    color: #00dceb;
    font-family: 'MuseoSansCyrl-300';
}

.list__description {
    font-size: 16px;
    padding-top: 20px;
    font-family: 'MuseoSansCyrl-300';
}

.photo {
    width: 290px;
    height: 230px;
    display: block;
}

.footer {
    background-color: #0e0047;
    padding: 54px 114px 70px;
    box-sizing: border-box;
}

.footer__start {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #7e7e7e;
}

.footer__start_item {
    color: white;
}

.footer_menu {
    font-family: 'MuseoSansCyrl-300';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #00dceb;
}

.footer__middle {
    display: flex;
    padding-top: 49px;
    padding-bottom: 111px;
    box-sizing: border-box;
}

.icons {
    display: flex;
    margin-top: 26px;
}

.icon {
    color: #00dceb;
    height: 20px;
    box-sizing: border-box;
}

.icons li:not(:first-child) .icon {
    padding-left: 15px;
}

.point {
    width: 33px;
    height: 38px;
    box-sizing: border-box;
}

.fm_item {
    color: white;
}

.location_item {
    width: 33px;
    height: 38px;
    margin-right: 28px;

}

/**
* Footer
*/
.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo-img {
    display: block;
    width: 40px;
    height: 29px;
}

.footer__logo-text {
    padding-left: 25px;
    vertical-align: center;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.footer__logo-text span {
    color: #41dc48;
}


/*
* Nav
*/
.nav {

}

.nav + .nav {
    margin-left: 76px;
}


.nav__link {
    color: #00dceb;
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;
    font-family: 'MuseoSansCyrl-300';
}


.contacts {
    display: flex;
    margin-left: auto;
}

.contacts__icon {
    margin-right: 28px;
    width: 33px;
    height: 38px;
}

.contacts__text {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    font-family: 'MuseoSansCyrl-300';
}
